* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header {
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: rgb(36, 36, 77);
    box-shadow: 3px 0 10px gray;
}

#linksNavDesktop {
    display: flex;
}

#linksNavMobile {
    display: none;
}

#linksNavMobile>button {
    color: rgb(36, 36, 77);
    font-size: 30px;
    background-color: transparent;
    padding: 0.2rem 0.3rem;
    border: none;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}

#linksNavMobile>button:hover {
    background-color: rgb(86, 86, 105);
    transition: 0.2s ease-in;
}

#linksNavMobile>button:active {
    background-color: rgb(57, 57, 67);
    transition: 0.001s ease-in;
}

header>h1 {
    color: rgb(255, 162, 0);
    margin: 0;
    cursor: pointer;
}

header>div>ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

header>div>ul>li {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

header>div>ul>li:hover {
    border-bottom: 1px solid rgb(36, 36, 77);
    transition: 0.2s ease-in;
}

header>div>ul>li:active {
    color: gray;
    transition: 0.001s ease-in;
}

.navigationMobile {
    animation-name: commingRight;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: both;
    z-index: 2;
    position: fixed;
    top: inherit;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(86, 86, 105);
    padding: 1.5rem 0;
    height: 100dvh;
    width: fit-content;
}

.displayNone {
    display: none;
}

.navigationMobile>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0 2rem 0 2rem;
    height: 17rem;
}

.navigationMobile>ul>li {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(36, 36, 77);
    padding: 0 1rem 0 0;
    width: fit-content;
}

.navigationMobile>ul>li:hover {
    color: rgb(180, 180, 180);
    transition: 0.2s ease-in;
}

.navigationMobile>ul>li:active {
    color: rgb(180, 180, 180);
    border-bottom: 2px solid rgb(255, 162, 0);
    transition: 0.001s ease-in;
}

.exitMenuNavigation {
    margin: 0 0.6rem 4rem 0;
}

.exitMenuNavigation>button {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
}

.exitMenuNavigation>button:hover {
    background-color: rgb(57, 57, 67);
    transition: 0.2s ease-in;
}

.exitMenuNavigation>button:active {
    background-color: rgb(33, 33, 40);
    transition: 0.001s ease-in;
}

main {
    margin: 1.5rem 7rem;
}

.container {
    display: flex;
}

.newsImg {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    height: 100%;
}

#photoNoticeDesktop {
    display: flex;
    width: 100%;
}

#photoNoticeDesktop>img {
    width: 100%;
}

#photoNoticeMobile {
    display: none;
    width: 100%;
}

#photoNoticeMobile>img {
    width: 100%;
}

.mainNews {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

.mainNews>h1 {
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    width: fit-content;
}

.mainNews>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 3rem;
    width: 100%;
}

.mainNews>div>p {
    font-size: 1.1rem;
}

.mainNews>div>button {
    display: flex;
    align-items: flex-end;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    background-color: rgb(240, 120, 114);
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    width: fit-content;
}

.mainNews>div>button:hover {
    background-color: rgb(233, 72, 64);
    transition: 0.2s ease-in;
}

.mainNews>div>button:active {
    background-color: rgb(184, 56, 50);
    transition: 0.001s ease-in;
}

.newsAside {
    color: white;
    background-color: rgb(36, 36, 77);
    
    padding: 1.5rem 2rem 0 2rem;
    width: 65%;
}

.newsAside>h1 {
    color: rgb(255, 162, 0);
    font-size: 1.7rem;
    margin: 0;
}

.newsAside>div {
    margin-bottom: 2.2rem;
}

.newsAside>div>h3 {
    margin: 2rem 0 0 0;
    border-bottom: 1px solid transparent;
}

.newsAside>div>h3:hover {
    border-bottom: 1px solid;
    transition: 0.2s ease-in;
}

.newsAside>div>h3:active {
    color: gray;
    transition: 0.001s ease-in;
}

#nowOne,
#nowTwo {
    border-bottom: 2px solid;
}

.highlight {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 0 0;
    gap: 3.2rem;
}

.highlight>div {
    display: flex;
    height: 100%;
}

.highlight>div>div {
    margin-right: 0.3rem;
}

.highlight>div>div>img {
    width: 96px;
    height: 122px;
}

#highlightSubDivs>h2 {
    font-size: 2rem;
    color: gray;
    margin: 0 0 0.5rem 0;
}

#highlightSubDivs>h3 {
    margin: 0 0 1rem 0;
    width: fit-content;
    border-bottom: 1px solid transparent;
}

#highlightSubDivs>h3:hover {
    border-bottom: 1px solid rgb(36, 36, 77);
    transition: 0.3s ease-in;
}

#highlightSubDivs>h3:active {
    color: gray;
    transition: 0.001s ease-in;
}

#highlightSubDivs>p {
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 77);
    box-shadow: -10px 0 20px rgb(36, 36, 77);
    padding: 1.5rem;
    height: fit-content;
    margin: 4rem 0 0 0;
}

.textAbout {
    width: fit-content;
}

.textAbout>h2 {
    color: rgb(255, 162, 0);
    font-family: "Open Sans", sans-serif;
}

footer>div>p {
    color: white;
    font-size: 13px;
}

.aboutLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 1rem;
}

.aboutLinks>ul {
    list-style: none;
}

.aboutLinks>ul>li>a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}

.aboutLinks>ul>li>a:hover {
    color: rgb(192, 192, 192);
    border-bottom: 1px solid rgb(193, 193, 193);
    transition: 0.2s ease-in;
}

@keyframes commingRight {
    from {
        margin-right: -100%;
    }

    to {
        margin-right: 0%;
    }

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 800px) {
    main {
        margin: 1.5rem 1rem;
    }

    header {
        padding: 0.5rem 0;
    }

    header>h1 {
        margin-left: 0.5rem;
    }

    #linksNavDesktop {
        display: none;
    }

    #linksNavMobile {
        display: flex;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .newsImg {
        margin-right: 0;
    }
    

    #photoNoticeDesktop {
        display: none;
    }

    #photoNoticeMobile {
        display: flex;
    }

    .mainNews {
        display: flex;
        flex-direction: column;
    }

    .mainNews>div {
        margin: 0 0 2rem 0;
    }

    .newsAside {
        margin-right: 15%;
        margin-left: 15%;
        width: fit-content;
    }

    .highlight {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer>div>h2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    footer>div>p {
        text-align: center;
    }    

    .aboutLinks {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .aboutLinks>ul {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0;
    }
}